$backgroundColor: #040714;
$principalTextColor: silver;
$secondaryTextColor: #f9f9f9;
$primaryButtonBackgroundColor: #6421ff;
$secondaryButtonBackgroundColor: #0063e5;
$darkButtonBackgroundColor: #000000;